<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    	<div class="row text-center">
    		<h3>Assignment - 1</h3>
    		<app-assignment-one></app-assignment-one>
    	</div>
    	<div class="row">
    		<h3 class="text-center">Assignment - 2</h3>
    		<app-assignment-two></app-assignment-two>
    	</div>
    	<div class="row">
    		<h3 class="text-center">Assignment - 3</h3>
    		<app-assignment-three></app-assignment-three>
			</div>
			<div class="row">
				<h3 class="text-center">Assignment - 3</h3>
				<app-assignment-four></app-assignment-four>
			</div>
    </div>
  </div>
  <hr>
</div>
